<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KDY's Shop - Sign-up</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/sign in.css">
</head>
<body>
    <div class="card">
        <h2>Sign-up</h2>
        <p>Create your account</p>
        <form>
            <input type="text" id="userName" placeholder="Full Name">
            <input type="email" id="userEmail" placeholder="Email Address">
            <div class="input-container">
                <input type="password" id="userPass" placeholder="Password">
                <svg class="toggle-password" onclick="togglePass('userPass')" viewBox="0 0 24 24">
                    <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                </svg>
            </div>
            <div id="msg" class="error-text"></div>
            <button type="button" class="go-btn" onclick="checkSignup()">Sign-up</button>
        </form>
        <a href="login.html" class="back-link">Already have an account? <b>Log-in</b></a>
    </div>
    <script src="sign in.js"></script>
</body>
</html>